/* COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}
/* /COMMONS */

/* MAIN */
/* MAIN COMMONS */
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(40, 40, 40);
}
/* /MAIN COMMONS */

/* SHOWCASE */
#showcase{
    width: 85%;
    position: relative;
}

#showcase .item-img{
    height: 100%;
}

#showcase .text-box{
    position: absolute;
    bottom: 7%;
    right: 3%;
    text-align: end;
    max-width: 50%;
}

#showcase .text-box h2{
    font-size: 22px;
}

#showcase .text-box p{
    font-size: 17px;
    padding-top: 10px;
}

#showcase .active{
    display: block;
}
/* /SHOWCASE */


/* LIBRARY */
#library{
    width: 15%;
    position: relative;
    background-color: black;
}

#img-box{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#library .item-mini{
    opacity: .4;
    min-height: calc(100% / 5);
}

#library img{
    display: block;
}

#library .active{
    opacity: 1;
    border: 2px solid lightgray;
}

.arrow-up, .arrow-down{
    background-color: #cccccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    /* z-index: 999; */
    left: 50%;
    transform: translate(-50%, 0%);
}

.arrow-up i, .arrow-down i{
    color: black;
}

.arrow-up{
    top: 3%;
}

.arrow-down{
    bottom: 3%;
}
/* /LIBRARY */

